<a href="https://colab.research.google.com/github/rebeca07-pedrozo/Python_ciencia_de_datos/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

In [47]:
# Montar Google Drive
import google.colab.drive
google.colab.drive.mount('/content/drive')

# Ruta al archivo
file_path = '/content/drive/My Drive/Online_Retail.csv'

# Leer el archivo con la codificaci√≥n adecuada
import pandas as pd
retail_data = pd.read_csv(file_path, encoding='latin1')

# Mostrar las primeras filas
print(retail_data.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [112]:
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        541909 non-null  object
 1   StockCode        541909 non-null  object
 2   Description      540455 non-null  object
 3   Quantity         541909 non-null  int64
 4   InvoiceDate      541909 non-null  datetime64[ns]
 5   UnitPrice        541909 non-null  float64
 6   CustomerID       406829 non-null  float64
 7   Country          541909 non-null  object
 8   TotalPrice       541909 non-null  float64
 9   HighValues       541909 non-null  bool
 10  DiscountedPrice  541909 non-null  float64
 11  PriceCategoty    541909 non-null  object
 12  considracion     541909 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 50.1+ MB

In [48]:
#path = '/content/Online_Retail.csv'
#retail_data = pd.read_csv(path, encoding='latin1')
#Excel
#retail_data = pd.read_excel(path, encoding='latin1')
#JSON
#retail_data = pd.read_json(path, encoding='latin1')
#print(type(retail_data))
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [49]:
retail_data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [50]:
import numpy as np

In [51]:
array = np.array([[1,2,3], [4,5,6], [7,8,9]])
dt_from_array = pd.DataFrame(array, columns=['A', 'B', 'C' ])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [52]:
data = ([1, 'Neco', 15], [ 2, 'Abel', 11], [3, 'Angela', 8])
dt_from_array = pd.DataFrame(array, columns=['ID', 'NAME', 'AGE'])
print(dt_from_array)

   ID  NAME  AGE
0   1     2    3
1   4     5    6
2   7     8    9

In [53]:
data = [{'ID':1,
         'Name': 'Elias',
        'Age': 4}]
ft_from_dic_list= pd.DataFrame(data)
print(ft_from_dic_list)

   ID   Name  Age
0   1  Elias    4

In [54]:
data = {'ID': [1], 'Name': ['Claudia'], 'Age': [ 1]}
df_data=pd.DataFrame(data)
print(df_data)

   ID     Name  Age
0   1  Claudia    1

In [55]:
data={'ID':pd.Series([1,2,3]),
      'Name':pd.Series(['Neco', 'Rebeca', 'Abel']),
      'Age':pd.Series([15,11,8])}
df_data=pd.DataFrame(data)
print(df_data)

   ID    Name  Age
0   1    Neco   15
1   2  Rebeca   11
2   3    Abel    8

In [56]:
#Nombres de columnas
column_names= retail_data.columns
print(column_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [57]:
num_rows, num_columns = retail_data.shape
print("Numero de filas", num_rows)
print("Numero de columnas", num_columns)

Numero de filas 541909
Numero de columnas 8

In [58]:
summary= retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [59]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [60]:
first_row=retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [61]:
ZeroToFive=retail_data.iloc[:5]
print(ZeroToFive)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [62]:
#primero fila, luego columna
subset=retail_data.iloc[:5, :3]
print(subset)

  InvoiceNo StockCode                          Description
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    536365     71053                  WHITE METAL LANTERN
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [63]:
#datos especificos
subset=retail_data.iloc[1, 0]
print(subset)

536365

In [64]:
row_index=retail_data.loc[:4]
print(row_index)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [65]:
row_index=retail_data.loc[:5, ['Quantity', 'CustomerID', 'UnitPrice']]
print(row_index)

   Quantity  CustomerID  UnitPrice
0         6     17850.0       2.55
1         6     17850.0       3.39
2         8     17850.0       2.75
3         6     17850.0       3.39
4         6     17850.0       3.39
5         2     17850.0       7.65

missing_data=retail_data.isna()
print(missing_data)

In [66]:
missing_data_reatil=retail_data.isna().sum()
print(missing_data_reatil)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [67]:
#Eliminar las filas con datos faltantes
missing_rows=retail_data.dropna()
print(missing_rows)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

In [68]:
#eliminar columnas con datos faltantes
missing_columns=retail_data.dropna(axis=1)
print(missing_columns)

       InvoiceNo StockCode  Quantity    InvoiceDate  UnitPrice         Country
0         536365    85123A         6   12/1/10 8:26       2.55  United Kingdom
1         536365     71053         6   12/1/10 8:26       3.39  United Kingdom
2         536365    84406B         8   12/1/10 8:26       2.75  United Kingdom
3         536365    84029G         6   12/1/10 8:26       3.39  United Kingdom
4         536365    84029E         6   12/1/10 8:26       3.39  United Kingdom
...          ...       ...       ...            ...        ...             ...
541904    581587     22613        12  12/9/11 12:50       0.85          France
541905    581587     22899         6  12/9/11 12:50       2.10          France
541906    581587     23254         4  12/9/11 12:50       4.15          France
541907    581587     23255         4  12/9/11 12:50       4.15          France
541908    581587     22138         3  12/9/11 12:50       4.95          France

[541909 rows x 6 columns]

In [69]:
#Reemplazar algun valor que haga falta con algun otro X valor
retail_data_filler_with_zeros=retail_data.fillna(0)
retail_data_filler_with_zeros_count=retail_data_filler_with_zeros.isna().sum()
print(retail_data_filler_with_zeros_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [70]:
#Reemplazar con la media
mean_UnitPrices=retail_data['UnitPrice'].mean()
print(mean_UnitPrices)

4.611113626088513

In [71]:
FillWithMean=retail_data.fillna(mean_UnitPrices)
total=FillWithMean.isna().sum()
print(total)
print(FillWithMean)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [72]:
retail_data['TotalPrice'] = retail_data['Quantity'] * retail_data['UnitPrice']
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [73]:
retail_data['HighValues']=retail_data['TotalPrice'] > 100
print(retail_data['HighValues'].head(3))

0    False
1    False
2    False
Name: HighValues, dtype: bool

In [74]:
print(retail_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValues   541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB
None

In [75]:
retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])
print(retail_data.info())

/tmp/ipython-input-75-1226376168.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValues   541909 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 37.7+ MB
None

In [76]:
retail_data['DiscountedPrice']=retail_data['UnitPrice'].apply(lambda x:x*0.9)
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValues  DiscountedPrice
0       False            2.295
1       False            3.051
2       False            2.475
3       False            3.051
4       False            3.051

In [77]:
def categoria_prize(price):
  if price>50:
    return 'High'
  else:
    return 'Low'
print(categoria_prize(50))
retail_data['PriceCategoty']=retail_data['UnitPrice'].apply(categoria_prize)
print(retail_data.head())

Low
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValues  DiscountedPrice PriceCategoty
0       False            2.295           Low
1       False            3.051           Low
2       False            2.475           Low
3       False            3.051           Low
4       False            3.051           Low

In [78]:
columnas=retail_data.columns
print(columnas)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'HighValues',
       'DiscountedPrice', 'PriceCategoty'],
      dtype='object')

In [79]:
valoresContados=retail_data['Country'].value_counts()
print(valoresContados)

Country
United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: count, dtype: int64

In [80]:
AgrupacionPaisesVentas=retail_data.groupby(['Country', 'StockCode'])['Quantity'].sum()
print(AgrupacionPaisesVentas)

Country      StockCode
Australia    15036        600
             15056BL        3
             16161P       400
             16169E        25
             20665          6
                         ...
Unspecified  85180A         2
             85180B         1
             85212         12
             85213         12
             85227         10
Name: Quantity, Length: 19839, dtype: int64

In [81]:
def total_ganacias(group):
    return (group['Quantity'] * group['UnitPrice']).sum()

ganaciasPorPais = retail_data.groupby('Country').apply(total_ganacias)

def considracion(ganancias):
    if ganancias > 100000:
        return 'Provechoso'
    elif ganancias < 50000:
        return 'Considerable'
    else:
        return 'Mal negocio'

consideracionPorPais = ganaciasPorPais.apply(considracion)
print(consideracionPorPais)

retail_data['considracion'] = retail_data['Country'].map(consideracionPorPais)
resumen = pd.DataFrame({
    'Ganancias': ganaciasPorPais,
    'Consideracion': consideracionPorPais
})

print(resumen)

Country
Australia                 Provechoso
Austria                 Considerable
Bahrain                 Considerable
Belgium                 Considerable
Brazil                  Considerable
Canada                  Considerable
Channel Islands         Considerable
Cyprus                  Considerable
Czech Republic          Considerable
Denmark                 Considerable
EIRE                      Provechoso
European Community      Considerable
Finland                 Considerable
France                    Provechoso
Germany                   Provechoso
Greece                  Considerable
Hong Kong               Considerable
Iceland                 Considerable
Israel                  Considerable
Italy                   Considerable
Japan                   Considerable
Lebanon                 Considerable
Lithuania               Considerable
Malta                   Considerable
Netherlands               Provechoso
Norway                  Considerable
Poland                  Considerable
Portugal                Considerable
RSA                     Considerable
Saudi Arabia            Considerable
Singapore               Considerable
Spain                    Mal negocio
Sweden                  Considerable
Switzerland              Mal negocio
USA                     Considerable
United Arab Emirates    Considerable
United Kingdom            Provechoso
Unspecified             Considerable
dtype: object
                        Ganancias Consideracion
Country
Australia              137077.270    Provechoso
Austria                 10154.320  Considerable
Bahrain                   548.400  Considerable
Belgium                 40910.960  Considerable
Brazil                   1143.600  Considerable
Canada                   3666.380  Considerable
Channel Islands         20086.290  Considerable
Cyprus                  12946.290  Considerable
Czech Republic            707.720  Considerable
Denmark                 18768.140  Considerable
EIRE                   263276.820    Provechoso
European Community       1291.750  Considerable
Finland                 22326.740  Considerable
France                 197403.900    Provechoso
Germany                221698.210    Provechoso
Greece                   4710.520  Considerable
Hong Kong               10117.040  Considerable
Iceland                  4310.000  Considerable
Israel                   7907.820  Considerable
Italy                   16890.510  Considerable
Japan                   35340.620  Considerable
Lebanon                  1693.880  Considerable
Lithuania                1661.060  Considerable
Malta                    2505.470  Considerable
Netherlands            284661.540    Provechoso
Norway                  35163.460  Considerable
Poland                   7213.140  Considerable
Portugal                29367.020  Considerable
RSA                      1002.310  Considerable
Saudi Arabia              131.170  Considerable
Singapore                9120.390  Considerable
Spain                   54774.580   Mal negocio
Sweden                  36595.910  Considerable
Switzerland             56385.350   Mal negocio
USA                      1730.920  Considerable
United Arab Emirates     1902.280  Considerable
United Kingdom        8187806.364    Provechoso
Unspecified              4749.790  Considerable

/tmp/ipython-input-81-2115625165.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ganaciasPorPais = retail_data.groupby('Country').apply(total_ganacias)

In [82]:
def total_ganacias(group):
    return (group['Quantity'] * group['UnitPrice']).sum()

ganaciasPorPais = retail_data.groupby('Country').apply(total_ganacias)
print(ganaciasPorPais.sort_values(ascending=False).head(3))

Country
United Kingdom    8187806.364
Netherlands        284661.540
EIRE               263276.820
dtype: float64

/tmp/ipython-input-82-1351102626.py:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ganaciasPorPais = retail_data.groupby('Country').apply(total_ganacias)

![fillnaMedia.png]()

Filtrado de datos

In [83]:
retail_data['TotalPrice']=retail_data['Quantity']*retail_data['UnitPrice']
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34

   HighValues  DiscountedPrice PriceCategoty considracion
0       False            2.295           Low   Provechoso
1       False            3.051           Low   Provechoso
2       False            2.475           Low   Provechoso
3       False            3.051           Low   Provechoso
4       False            3.051           Low   Provechoso

In [84]:
#Filtrar las ventas en el UK
ukTotasSales=retail_data[retail_data['Country']=='United Kingdom']
print(ukTotasSales)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541889    581585     22466       FAIRY TALE COTTAGE NIGHT LIGHT        12
541890    581586     22061  LARGE CAKE STAND  HANGING STRAWBERY         8
541891    581586     23275     SET OF 3 HANGING OWLS OLLIE BEAK        24
541892    581586     21217        RED RETROSPOT ROUND CAKE TINS        24
541893    581586     20685                DOORMAT RED RETROSPOT        10

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                    ...        ...         ...             ...         ...
541889 2011-12-09 12:31:00       1.95     15804.0  United Kingdom       23.40
541890 2011-12-09 12:49:00       2.95     13113.0  United Kingdom       23.60
541891 2011-12-09 12:49:00       1.25     13113.0  United Kingdom       30.00
541892 2011-12-09 12:49:00       8.95     13113.0  United Kingdom      214.80
541893 2011-12-09 12:49:00       7.08     13113.0  United Kingdom       70.80

        HighValues  DiscountedPrice PriceCategoty considracion
0            False            2.295           Low   Provechoso
1            False            3.051           Low   Provechoso
2            False            2.475           Low   Provechoso
3            False            3.051           Low   Provechoso
4            False            3.051           Low   Provechoso
...            ...              ...           ...          ...
541889       False            1.755           Low   Provechoso
541890       False            2.655           Low   Provechoso
541891       False            1.125           Low   Provechoso
541892        True            8.055           Low   Provechoso
541893       False            6.372           Low   Provechoso

[495478 rows x 13 columns]

In [85]:
HighQuantitySales=retail_data[retail_data['Quantity']>1000]
print(HighQuantitySales)

       InvoiceNo StockCode                        Description  Quantity  \
4850      536809     84950     ASSORTED COLOUR T-LIGHT HOLDER      1824
4945      536830     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880
4946      536830     21915             RED  HARMONICA IN BOX       1400
6365      536890    17084R              ASSORTED INCENSE PACK      1440
16435     537659     22189            CREAM HEART CARD HOLDER      1008
...          ...       ...                                ...       ...
533812    581115     22413    METAL SIGN TAKE IT OR LEAVE IT       1404
534952    581175     23084                 RABBIT NIGHT LIGHT      1440
540070    581458     22197                     POPCORN HOLDER      1500
540071    581459     22197                     POPCORN HOLDER      1200
540421    581483     23843        PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
4850   2010-12-02 16:48:00       0.55     15299.0  United Kingdom     1003.20
4945   2010-12-02 17:38:00       0.18     16754.0  United Kingdom      518.40
4946   2010-12-02 17:38:00       1.06     16754.0  United Kingdom     1484.00
6365   2010-12-03 11:48:00       0.16     14156.0            EIRE      230.40
16435  2010-12-07 16:43:00       2.31     18102.0  United Kingdom     2328.48
...                    ...        ...         ...             ...         ...
533812 2011-12-07 12:20:00       2.75     15195.0  United Kingdom     3861.00
534952 2011-12-07 15:16:00       1.79     14646.0     Netherlands     2577.60
540070 2011-12-08 18:45:00       0.72     17949.0  United Kingdom     1080.00
540071 2011-12-08 18:46:00       0.72     17949.0  United Kingdom      864.00
540421 2011-12-09 09:15:00       2.08     16446.0  United Kingdom   168469.60

        HighValues  DiscountedPrice PriceCategoty considracion
4850          True            0.495           Low   Provechoso
4945          True            0.162           Low   Provechoso
4946          True            0.954           Low   Provechoso
6365          True            0.144           Low   Provechoso
16435         True            2.079           Low   Provechoso
...            ...              ...           ...          ...
533812        True            2.475           Low   Provechoso
534952        True            1.611           Low   Provechoso
540070        True            0.648           Low   Provechoso
540071        True            0.648           Low   Provechoso
540421        True            1.872           Low   Provechoso

[116 rows x 13 columns]

In [86]:
ukTotalSales = retail_data[(retail_data['Country'] == 'United Kingdom') & (retail_data['Quantity'] > 300)]
print(ukTotalSales)

       InvoiceNo StockCode                     Description  Quantity  \
181       536387     22466   FAIRY TALE COTTAGE NIGHTLIGHT       432
182       536387     21731   RED TOADSTOOL LED NIGHT LIGHT       432
730       536437     17021          NAMASTE SWAGAT INCENSE       600
870       536477     21137        BLACK RECORD COVER FRAME       480
2364      536584    84029E  RED WOOLLY HOTTIE WHITE HEART.       384
...          ...       ...                             ...       ...
540060    581457     22189         CREAM HEART CARD HOLDER       324
540061    581457     23543             WALL ART KEEP CALM        698
540070    581458     22197                  POPCORN HOLDER      1500
540071    581459     22197                  POPCORN HOLDER      1200
540421    581483     23843     PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
181    2010-12-01 09:58:00       1.45     16029.0  United Kingdom      626.40
182    2010-12-01 09:58:00       1.25     16029.0  United Kingdom      540.00
730    2010-12-01 12:12:00       0.24     13694.0  United Kingdom      144.00
870    2010-12-01 12:27:00       3.39     16210.0  United Kingdom     1627.20
2364   2010-12-01 16:22:00       2.95     13777.0  United Kingdom     1132.80
...                    ...        ...         ...             ...         ...
540060 2011-12-08 18:43:00       3.39     18102.0  United Kingdom     1098.36
540061 2011-12-08 18:43:00       4.15     18102.0  United Kingdom     2896.70
540070 2011-12-08 18:45:00       0.72     17949.0  United Kingdom     1080.00
540071 2011-12-08 18:46:00       0.72     17949.0  United Kingdom      864.00
540421 2011-12-09 09:15:00       2.08     16446.0  United Kingdom   168469.60

        HighValues  DiscountedPrice PriceCategoty considracion
181           True            1.305           Low   Provechoso
182           True            1.125           Low   Provechoso
730           True            0.216           Low   Provechoso
870           True            3.051           Low   Provechoso
2364          True            2.655           Low   Provechoso
...            ...              ...           ...          ...
540060        True            3.051           Low   Provechoso
540061        True            3.735           Low   Provechoso
540070        True            0.648           Low   Provechoso
540071        True            0.648           Low   Provechoso
540421        True            1.872           Low   Provechoso

[777 rows x 13 columns]

In [87]:
DosMilOnce=retail_data[retail_data['InvoiceDate'].dt.year==2011]
print(DosMilOnce)

       InvoiceNo StockCode                      Description  Quantity  \
42481     539993     22386          JUMBO BAG PINK POLKADOT        10
42482     539993     21499               BLUE POLKADOT WRAP        25
42483     539993     21498              RED RETROSPOT WRAP         25
42484     539993     22379         RECYCLING BAG RETROSPOT          5
42485     539993     20718        RED RETROSPOT SHOPPER BAG        10
...          ...       ...                              ...       ...
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
42481  2011-01-04 10:00:00       1.95     13313.0  United Kingdom       19.50
42482  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42483  2011-01-04 10:00:00       0.42     13313.0  United Kingdom       10.50
42484  2011-01-04 10:00:00       2.10     13313.0  United Kingdom       10.50
42485  2011-01-04 10:00:00       1.25     13313.0  United Kingdom       12.50
...                    ...        ...         ...             ...         ...
541904 2011-12-09 12:50:00       0.85     12680.0          France       10.20
541905 2011-12-09 12:50:00       2.10     12680.0          France       12.60
541906 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541907 2011-12-09 12:50:00       4.15     12680.0          France       16.60
541908 2011-12-09 12:50:00       4.95     12680.0          France       14.85

        HighValues  DiscountedPrice PriceCategoty considracion
42481        False            1.755           Low   Provechoso
42482        False            0.378           Low   Provechoso
42483        False            0.378           Low   Provechoso
42484        False            1.890           Low   Provechoso
42485        False            1.125           Low   Provechoso
...            ...              ...           ...          ...
541904       False            0.765           Low   Provechoso
541905       False            1.890           Low   Provechoso
541906       False            3.735           Low   Provechoso
541907       False            3.735           Low   Provechoso
541908       False            4.455           Low   Provechoso

[499428 rows x 13 columns]

In [88]:
DosMilDiez=retail_data[retail_data['InvoiceDate'].dt.year==2010]
print(DosMilDiez)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42476    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
42477    539991     72741                GRAND CHOCOLATECANDLE         4
42478    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
42479    539992     22258              FELT FARM ANIMAL RABBIT         1
42480    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42476 2010-12-23 16:49:00       1.25         NaN  United Kingdom        1.25
42477 2010-12-23 16:49:00       1.45         NaN  United Kingdom        5.80
42478 2010-12-23 17:41:00       3.75         NaN  United Kingdom        3.75
42479 2010-12-23 17:41:00       1.25         NaN  United Kingdom        1.25
42480 2010-12-23 17:41:00       2.10         NaN  United Kingdom        2.10

       HighValues  DiscountedPrice PriceCategoty considracion
0           False            2.295           Low   Provechoso
1           False            3.051           Low   Provechoso
2           False            2.475           Low   Provechoso
3           False            3.051           Low   Provechoso
4           False            3.051           Low   Provechoso
...           ...              ...           ...          ...
42476       False            1.125           Low   Provechoso
42477       False            1.305           Low   Provechoso
42478       False            3.375           Low   Provechoso
42479       False            1.125           Low   Provechoso
42480       False            1.890           Low   Provechoso

[42481 rows x 13 columns]

In [89]:
mesesEn2010=retail_data[(retail_data['InvoiceDate'].dt.year==2010)&(retail_data['InvoiceDate'].dt.month==12)]
print(mesesEn2010)

      InvoiceNo StockCode                          Description  Quantity  \
0        536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1        536365     71053                  WHITE METAL LANTERN         6
2        536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3        536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4        536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...         ...       ...                                  ...       ...
42476    539991     21618       4 WILDFLOWER BOTANICAL CANDLES         1
42477    539991     72741                GRAND CHOCOLATECANDLE         4
42478    539992     21470        FLOWER VINE RAFFIA FOOD COVER         1
42479    539992     22258              FELT FARM ANIMAL RABBIT         1
42480    539992     21155                RED RETROSPOT PEG BAG         1

              InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0     2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2     2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4     2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
...                   ...        ...         ...             ...         ...
42476 2010-12-23 16:49:00       1.25         NaN  United Kingdom        1.25
42477 2010-12-23 16:49:00       1.45         NaN  United Kingdom        5.80
42478 2010-12-23 17:41:00       3.75         NaN  United Kingdom        3.75
42479 2010-12-23 17:41:00       1.25         NaN  United Kingdom        1.25
42480 2010-12-23 17:41:00       2.10         NaN  United Kingdom        2.10

       HighValues  DiscountedPrice PriceCategoty considracion
0           False            2.295           Low   Provechoso
1           False            3.051           Low   Provechoso
2           False            2.475           Low   Provechoso
3           False            3.051           Low   Provechoso
4           False            3.051           Low   Provechoso
...           ...              ...           ...          ...
42476       False            1.125           Low   Provechoso
42477       False            1.305           Low   Provechoso
42478       False            3.375           Low   Provechoso
42479       False            1.125           Low   Provechoso
42480       False            1.890           Low   Provechoso

[42481 rows x 13 columns]

Pivot Table

In [91]:
pivotTable=pd.pivot_table(retail_data, values='Quantity', index='Country',
                          columns = 'StockCode', aggfunc='sum')
print(pivotTable)

StockCode             10002  10080  10120  10123C  10123G  10124A  10124G  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN     NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN     NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN     NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN     NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
France                372.0    NaN   10.0     NaN     NaN     NaN     NaN
Germany                 1.0    NaN    NaN     NaN     NaN     NaN     NaN
Greece                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Hong Kong               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN     NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN     NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN     NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN     NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN     NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN     NaN
USA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Kingdom        615.0  495.0  183.0   -13.0   -38.0    16.0    17.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN     NaN

StockCode             10125   10133  10134  ...       M  PADS    POST     S  \
Country                                     ...
Australia               NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Austria                 NaN     NaN    NaN  ...     NaN   NaN    37.0   NaN
Bahrain                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Belgium                 NaN     NaN    NaN  ...     NaN   NaN   272.0   NaN
Brazil                  NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Canada                  NaN    40.0    NaN  ...     NaN   NaN     1.0   NaN
Channel Islands         NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Cyprus                  NaN     NaN    NaN  ...     0.0   NaN     1.0   NaN
Czech Republic          NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Denmark                 NaN     NaN    NaN  ...     NaN   NaN    41.0   NaN
EIRE                    NaN    40.0    NaN  ...    -2.0   NaN     NaN   NaN
European Community      NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Finland                 NaN     NaN    NaN  ...     2.0   NaN    89.0   NaN
France                470.0     NaN    NaN  ...   -16.0   NaN   803.0   NaN
Germany               120.0     NaN    NaN  ...     2.0   NaN  1104.0   NaN
Greece                  NaN     NaN    NaN  ...     NaN   NaN     6.0   NaN
Hong Kong               NaN     NaN    NaN  ...     0.0   NaN     2.0   NaN
Iceland                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Israel                  NaN    20.0    NaN  ...     NaN   NaN     NaN   NaN
Italy                   NaN     NaN    NaN  ...    -1.0   NaN    44.0   NaN
Japan                   NaN     NaN    NaN  ...    -3.0   NaN     NaN   NaN
Lebanon                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Lithuania               NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Malta                   NaN     NaN    NaN  ...     NaN   NaN    10.0   NaN
Netherlands             NaN     NaN    NaN  ...  -480.0   NaN    99.0   NaN
Norway                  NaN     NaN    NaN  ...     0.0   NaN    57.0   NaN
Poland                  NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Portugal                NaN    20.0    NaN  ...     1.0   NaN    97.0   NaN
RSA                     NaN     NaN    NaN  ...     1.0   NaN     NaN   NaN
Saudi Arabia            NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Singapore               NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Spain                   NaN     NaN    NaN  ...    -3.0   NaN   209.0   NaN
Sweden                  NaN     NaN    NaN  ...     1.0   NaN    37.0   NaN
Switzerland            20.0    10.0    NaN  ...     NaN   NaN    97.0   NaN
USA                     NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
United Arab Emirates    NaN     NaN    NaN  ...     NaN   NaN     1.0   NaN
United Kingdom        686.0  2645.0  -19.0  ...  3662.0   4.0  3328.0 -59.0
Unspecified             NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN

StockCode             gift_0001_10  gift_0001_20  gift_0001_30  gift_0001_40  \
Country
Australia                      NaN           NaN           NaN           NaN
Austria                        NaN           NaN           NaN           NaN
Bahrain                        NaN           NaN           NaN           NaN
Belgium                        NaN           NaN           NaN           NaN
Brazil                         NaN           NaN           NaN           NaN
Canada                         NaN           NaN           NaN           NaN
Channel Islands                NaN           NaN           NaN           NaN
Cyprus                         NaN           NaN           NaN           NaN
Czech Republic                 NaN           NaN           NaN           NaN
Denmark                        NaN           NaN           NaN           NaN
EIRE                           NaN           NaN           NaN           NaN
European Community             NaN           NaN           NaN           NaN
Finland                        NaN           NaN           NaN           NaN
France                         NaN           NaN           NaN           NaN
Germany                        NaN           NaN           NaN           NaN
Greece                         NaN           NaN           NaN           NaN
Hong Kong                      NaN           NaN           NaN           NaN
Iceland                        NaN           NaN           NaN           NaN
Israel                         NaN           NaN           NaN           NaN
Italy                          NaN           NaN           NaN           NaN
Japan                          NaN           NaN           NaN           NaN
Lebanon                        NaN           NaN           NaN           NaN
Lithuania                      NaN           NaN           NaN           NaN
Malta                          NaN           NaN           NaN           NaN
Netherlands                    NaN           NaN           NaN           NaN
Norway                         NaN           NaN           NaN           NaN
Poland                         NaN           NaN           NaN           NaN
Portugal                       NaN           NaN           NaN           NaN
RSA                            NaN           NaN           NaN           NaN
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN           NaN           NaN
Spain                          NaN           NaN           NaN           NaN
Sweden                         NaN           NaN           NaN           NaN
Switzerland                    NaN           NaN           NaN           NaN
USA                            NaN           NaN           NaN           NaN
United Arab Emirates           NaN           NaN           NaN           NaN
United Kingdom                39.0          20.0          37.0           3.0
Unspecified                    NaN           NaN           NaN           NaN

StockCode             gift_0001_50    m
Country
Australia                      NaN  NaN
Austria                        NaN  NaN
Bahrain                        NaN  NaN
Belgium                        NaN  NaN
Brazil                         NaN  NaN
Canada                         NaN  NaN
Channel Islands                NaN  NaN
Cyprus                         NaN  NaN
Czech Republic                 NaN  NaN
Denmark                        NaN  NaN
EIRE                           NaN  NaN
European Community             NaN  NaN
Finland                        NaN  NaN
France                         NaN  NaN
Germany                        NaN  NaN
Greece                         NaN  NaN
Hong Kong                      NaN  NaN
Iceland                        NaN  NaN
Israel                         NaN  NaN
Italy                          NaN  NaN
Japan                          NaN  NaN
Lebanon                        NaN  NaN
Lithuania                      NaN  NaN
Malta                          NaN  NaN
Netherlands                    NaN  NaN
Norway                         NaN  NaN
Poland                         NaN  NaN
Portugal                       NaN  NaN
RSA                            NaN  NaN
Saudi Arabia                   NaN  NaN
Singapore                      NaN  NaN
Spain                          NaN  NaN
Sweden                         NaN  NaN
Switzerland                    NaN  NaN
USA                            NaN  NaN
United Arab Emirates           NaN  NaN
United Kingdom                 4.0  1.0
Unspecified                    NaN  NaN

[38 rows x 4070 columns]

In [93]:
df=pd.DataFrame({
    'A':['foo','foo','bar','bar'],
    'B':['one','two','one','two'],
    'C':[1,2,3,4]
})
print(df)

     A    B  C
0  foo  one  1
1  foo  two  2
2  bar  one  3
3  bar  two  4

In [94]:
dfStack=df.stack()
print(dfStack)

0  A    foo
   B    one
   C      1
1  A    foo
   B    two
   C      2
2  A    bar
   B    one
   C      3
3  A    bar
   B    two
   C      4
dtype: object

In [95]:
df_unstack=dfStack.unstack()
print(df_unstack)

     A    B  C
0  foo  one  1
1  foo  two  2
2  bar  one  3
3  bar  two  4

#MERGE CONCAT Y JOIN

In [96]:
#Dataframe de ejemplo

df1=pd.DataFrame({
    'key':['A','B','C'],
    'value1': [1,2,3]
})
df2 =pd.DataFrame({
    'key':['B','C','D'],
    'value2': [4,5,6]
})
print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [98]:
inner_merged=pd.merge(df1,df2, on ='key', how='inner')
print(inner_merged)

  key  value1  value2
0   B       2       4
1   C       3       5

In [99]:
outer_merged=pd.merge(df1,df2, on='key', how='outer')
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [101]:
left_merged=pd.merge(df1,df2,on='key',how='left')
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [102]:
right_merged=pd.merge(df1,df2,on='key',how='right')
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

In [103]:
#Concatenacion de data frames
df3 = pd.DataFrame({
    'A':['A0','A1','A2'],
    'B':['B0','B1','B2']
})
df4=pd.DataFrame({
    'A':['A3','A4','A5'],
    'B':['B3','B4','B5']
})
print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [104]:
vertical_concat=pd.concat([df3,df4])
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [105]:
horizontal_concat=pd.concat([df3,df4],axis=1)
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

#JOIN

In [109]:
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  },
  index = ['K0', 'K1', 'K2']
)

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['DO', 'D1', 'D2']
  },
  index = ['K0', 'K2', 'K3']
)
df7 = pd.DataFrame({
    'E': ['E0', 'E1', 'E2'],
    'F': ['F0', 'F1', 'F2']
}, index=['K1', 'K2', 'K4'])

df8 = pd.DataFrame({
    'G': ['G0', 'G1', 'G2'],
    'H': ['H0', 'H1', 'H2']
}, index=['K2', 'K3', 'K4'])

print(df5)
print(df6)
print(df7)
print(df8)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  DO
K2  C1  D1
K3  C2  D2
     E   F
K1  E0  F0
K2  E1  F1
K4  E2  F2
     G   H
K2  G0  H0
K3  G1  H1
K4  G2  H2

In [110]:
joined=df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  DO
K2  A2  B2  C1  D1

In [111]:
joined=df5.join([df6,df7,df8], how='inner')
print(joined)

     A   B   C   D   E   F   G   H
K2  A2  B2  C1  D1  E1  F1  G0  H0

In [119]:
#ps nosotras ya lo habiamos cambiado pero por si algo aca esta para object > a datetime
retail_data['InvoiceDate']=pd.to_datetime(retail_data['InvoiceDate'])
retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   InvoiceNo        541909 non-null  object
 1   StockCode        541909 non-null  object
 2   Description      540455 non-null  object
 3   Quantity         541909 non-null  int64
 4   InvoiceDate      541909 non-null  datetime64[ns]
 5   UnitPrice        541909 non-null  float64
 6   CustomerID       406829 non-null  float64
 7   Country          541909 non-null  object
 8   TotalPrice       541909 non-null  float64
 9   HighValues       541909 non-null  bool
 10  DiscountedPrice  541909 non-null  float64
 11  PriceCategoty    541909 non-null  object
 12  considracion     541909 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(6)
memory usage: 50.1+ MB

In [121]:
#borrar los nulos del InvoiceDate
retail_data.dropna(subset=['InvoiceDate'], inplace=True)

In [123]:
retail_data.set_index('InvoiceDate',inplace=True)

In [125]:
retail_data['Year']=retail_data.index.year
retail_data['Month']=retail_data.index.month
retail_data['Day']=retail_data.index.day
retail_data['Weekdy']=retail_data.index.weekday #Error, falto una a
retail_data['Hour']=retail_data.index.hour
print(retail_data['Year'])
print(retail_data['Hour'])

InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
                       ...
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
2011-12-09 12:50:00    2011
Name: Year, Length: 541909, dtype: int32
InvoiceDate
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
2010-12-01 08:26:00     8
                       ..
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
2011-12-09 12:50:00    12
Name: Hour, Length: 541909, dtype: int32

In [126]:
retail_data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,HighValues,DiscountedPrice,PriceCategoty,considracion,Year,Month,Day,Weekdy,Hour
InvoiceDate,,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,False,2.295,Low,Provechoso,2010,12,1,2,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,2,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,False,2.475,Low,Provechoso,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,10.20,False,0.765,Low,Provechoso,2011,12,9,4,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,12.60,False,1.890,Low,Provechoso,2011,12,9,4,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,4,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,4,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,14.85,False,4.455,Low,Provechoso,2011,12,9,4,12

In [128]:
retail_data=retail_data.drop(columns=['Weekdy'])

In [129]:
retail_data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,HighValues,DiscountedPrice,PriceCategoty,considracion,Year,Month,Day,Hour
InvoiceDate,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,False,2.295,Low,Provechoso,2010,12,1,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,False,2.475,Low,Provechoso,2010,12,1,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,10.20,False,0.765,Low,Provechoso,2011,12,9,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,12.60,False,1.890,Low,Provechoso,2011,12,9,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,14.85,False,4.455,Low,Provechoso,2011,12,9,12

In [130]:
retail_data['Weekday']=retail_data.index.weekday

In [131]:
retail_data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,HighValues,DiscountedPrice,PriceCategoty,considracion,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,False,2.295,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,False,2.475,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,10.20,False,0.765,Low,Provechoso,2011,12,9,12,4
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,12.60,False,1.890,Low,Provechoso,2011,12,9,12,4
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,12,4
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,16.60,False,3.735,Low,Provechoso,2011,12,9,12,4
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,14.85,False,4.455,Low,Provechoso,2011,12,9,12,4

In [141]:
InfodeDosMilOnceDecember=retail_data.loc['2011-12']
InfodeDosMilOnceDecember.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,HighValues,DiscountedPrice,PriceCategoty,considracion,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,,,,,,
2011-12-01 08:12:00,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,4.15,13853.0,United Kingdom,-33.20,False,3.735,Low,Provechoso,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,1.25,15197.0,United Kingdom,-1.25,False,1.125,Low,Provechoso,2011,12,1,8,3
2011-12-01 08:14:00,C579890,23374,RED SPOT PAPER GIFT BAG,-1,0.82,15197.0,United Kingdom,-0.82,False,0.738,Low,Provechoso,2011,12,1,8,3
2011-12-01 08:14:00,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,0.85,15197.0,United Kingdom,-1.70,False,0.765,Low,Provechoso,2011,12,1,8,3
2011-12-01 08:18:00,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,25.00,13644.0,United Kingdom,-25.00,False,22.500,Low,Provechoso,2011,12,1,8,3

In [144]:
RangoDeFechas=retail_data.loc['2010-12-01':'2010-12-15']
RangoDeFechas.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,TotalPrice,HighValues,DiscountedPrice,PriceCategoty,considracion,Year,Month,Day,Hour,Weekday
InvoiceDate,,,,,,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,15.30,False,2.295,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,22.00,False,2.475,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,20.34,False,3.051,Low,Provechoso,2010,12,1,8,2

In [148]:
#crear fechas
date_range=pd.date_range(start='2024-01-01',end='2024-12-31',freq='D')
print(date_range)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=366, freq='D')

In [149]:
DeFechas=pd.DataFrame(date_range, columns=['Date'])
DeFechas.head()

        Date
0 2024-01-01
1 2024-01-02
2 2024-01-03
3 2024-01-04
4 2024-01-05

![image.png]()

#MatPlotLib
![image.png]()