<a href="https://colab.research.google.com/github/rebeca07-pedrozo/Python_ciencia_de_datos/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Montar Google Drive
import google.colab.drive
google.colab.drive.mount('/content/drive')

# Ruta al archivo
file_path = '/content/drive/My Drive/Online_Retail.csv'

# Leer el archivo con la codificaci√≥n adecuada
import pandas as pd
retail_data = pd.read_csv(file_path, encoding='latin1')

# Mostrar las primeras filas
print(retail_data.head())

Mounted at /content/drive
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [4]:
#path = '/content/Online_Retail.csv'
#retail_data = pd.read_csv(path, encoding='latin1')
#Excel
#retail_data = pd.read_excel(path, encoding='latin1')
#JSON
#retail_data = pd.read_json(path, encoding='latin1')
#print(type(retail_data))
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [5]:
import numpy as np

In [6]:
array = np.array([[1,2,3], [4,5,6], [7,8,9]])
dt_from_array = pd.DataFrame(array, columns=['A', 'B', 'C' ])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
data = ([1, 'Neco', 15], [ 2, 'Abel', 11], [3, 'Angela', 8])
dt_from_array = pd.DataFrame(array, columns=['ID', 'NAME', 'AGE'])
print(dt_from_array)

   ID  NAME  AGE
0   1     2    3
1   4     5    6
2   7     8    9

In [8]:
data = [{'ID':1,
         'Name': 'Elias',
        'Age': 4}]
ft_from_dic_list= pd.DataFrame(data)
print(ft_from_dic_list)

   ID   Name  Age
0   1  Elias    4

In [9]:
data = {'ID': [1], 'Name': ['Claudia'], 'Age': [ 1]}
df_data=pd.DataFrame(data)
print(df_data)

   ID     Name  Age
0   1  Claudia    1

In [10]:
data={'ID':pd.Series([1,2,3]),
      'Name':pd.Series(['Neco', 'Rebeca', 'Abel']),
      'Age':pd.Series([15,11,8])}
df_data=pd.DataFrame(data)
print(df_data)

   ID    Name  Age
0   1    Neco   15
1   2  Rebeca   11
2   3    Abel    8

In [12]:
#Nombres de columnas
column_names= retail_data.columns
print(column_names)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [18]:
num_rows, num_columns = retail_data.shape
print("Numero de filas", num_rows)
print("Numero de columnas", num_columns)

Numero de filas 541909
Numero de columnas 8

In [23]:
summary= retail_data.describe()
print(summary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [24]:
MeanDailySales= daily_sales.mean()
print(MeanDailySales)

9.55224954743324

In [26]:
MinDailySales=daily_sales.median()
print(MinDailySales)

3.0

In [31]:
#SUmar los numeros que haya adentro
MinDailySales=daily_sales.sum()
print(MinDailySales)

5176450

In [33]:
#Contar los valores no nulos
count_dailySales= daily_sales.count()
print(count_dailySales)

541909

In [34]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [35]:
first_row=retail_data.iloc[0]
print(first_row)

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                          12/1/10 8:26
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [36]:
ZeroToFive=retail_data.iloc[:5]
print(ZeroToFive)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [37]:
#primero fila, luego columna
subset=retail_data.iloc[:5, :3]
print(subset)

  InvoiceNo StockCode                          Description
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    536365     71053                  WHITE METAL LANTERN
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

In [42]:
#datos especificos
subset=retail_data.iloc[1, 0]
print(subset)

536365

In [48]:
row_index=retail_data.loc[:4]
print(row_index)

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [51]:
row_index=retail_data.loc[:5, ['Quantity', 'CustomerID', 'UnitPrice']]
print(row_index)

   Quantity  CustomerID  UnitPrice
0         6     17850.0       2.55
1         6     17850.0       3.39
2         8     17850.0       2.75
3         6     17850.0       3.39
4         6     17850.0       3.39
5         2     17850.0       7.65

missing_data=retail_data.isna()
print(missing_data)

In [53]:
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [60]:
missing_data_reatil=retail_data.isna().sum()
print(missing_data_reatil)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [57]:
#Eliminar las filas con datos faltantes
missing_rows=retail_data.dropna()
print(missing_rows)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

In [58]:
#eliminar columnas con datos faltantes
missing_columns=retail_data.dropna(axis=1)
print(missing_columns)

       InvoiceNo StockCode  Quantity    InvoiceDate  UnitPrice         Country
0         536365    85123A         6   12/1/10 8:26       2.55  United Kingdom
1         536365     71053         6   12/1/10 8:26       3.39  United Kingdom
2         536365    84406B         8   12/1/10 8:26       2.75  United Kingdom
3         536365    84029G         6   12/1/10 8:26       3.39  United Kingdom
4         536365    84029E         6   12/1/10 8:26       3.39  United Kingdom
...          ...       ...       ...            ...        ...             ...
541904    581587     22613        12  12/9/11 12:50       0.85          France
541905    581587     22899         6  12/9/11 12:50       2.10          France
541906    581587     23254         4  12/9/11 12:50       4.15          France
541907    581587     23255         4  12/9/11 12:50       4.15          France
541908    581587     22138         3  12/9/11 12:50       4.95          France

[541909 rows x 6 columns]

In [63]:
#Reemplazar algun valor que haga falta con algun otro X valor
retail_data_filler_with_zeros=retail_data.fillna(0)
retail_data_filler_with_zeros_count=retail_data_filler_with_zeros.isna().sum()
print(retail_data_filler_with_zeros_count)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [69]:
#Reemplazar con la media
mean_UnitPrices=retail_data['UnitPrice'].mean()
print(mean_UnitPrices)

4.611113626088513

In [68]:
FillWithMean=retail_data.fillna(mean_UnitPrices)
total=FillWithMean.isna().sum()
print(total)
print(FillWithMean)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]